<h1>New Product</h1>

<%= form_with model: @product do |form| %>
  <div>
    <%= form.label 'Name:' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label 'Description:' %>
    <%= form.text_area :description%>
  </div>

  <div>
    <%= form.label 'Image:' %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label 'Price:' %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.submit 'Add Product' %>
  </div>
<% end %>

<footer>
  <%= link_to 'Back', products_path %>
</footer>