<!--
  Creates a product upon submit
-->

<h1 style="margin-bottom: 20px;">New Product</h1>

<%= form_with model: @product do |form| %>
  <div>
    <p class = "form-label" ><%= form.label 'Name:' %></p>
    <p class = "form-control-plaintext"><%= form.text_field :name %></p>
  </div>

  <div>
    <p class = "form-label" ><%= form.label 'Description:' %></p>
    <p class="form-control-plaintext"><%= form.text_area :description%></p>
  </div>

  <div>
    <%= form.label 'Image:' %>
    <p class="form-control-plaintext"><%= form.text_field :image_url %></p>
  </div>

  <div>
    <%= form.label 'Price:' %>
    <p class="form-control-plaintext"><%= form.number_field :price %></p>
  </div>

  <div>
    <%= form.submit 'Add Product' %>
  </div>
<% end %>